<fieldset style="margin-bottom: 2em;">
    <legend style="margin-bottom: .2em;">
        Filmen er slettet!
    </legend>
    <p>
        {{ deleted.getTitle() }} (ID:{{deleted.getId()}}) er nå fjernet fra UKM-TV.
    </p>
    <a href="https://form.jotformeu.com/72272648713359" class="btn btn-sm btn-ukm btn-success" target="_blank">Logg slettingen</a>
</fieldset>